<% include ../partials/header %>

<div class="container py-3">
	<div class="jumbotron text-center">
		<h1 class="display-4">Welcome to Yelpcamp</h1>
		<p class="lead">Most premier campgrounds in the whole world</p>
		<p class="lead">
			<a class="btn btn-outline-primary btn-lg" href="/campgrounds/new" role="button">Add new campground</a>
		</p>
	</div>


	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
	<% campgrounds.forEach(function(campground){ %>
		<div class="col-md-3 col-sm-6">
			<div class="card">
				<img class="card-img-top" src="<%= campground.image %>">
				<div class="card-body">
					<h4 class="card-title"><%= campground.name %></h4>
				</div>
				<p>
					<a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">More Info</a>
				</p>
			</div>
		
		</div>
	<% }); %>
		
	</div>
</div>
	
<% include ../partials/footer %>
